body, div, h1, h2, p, ul{ margin:0; padding:0;}
a:link { color: black; }
a:visited { color: black;}
header { padding-top:80px; }
li {list-style: none;}
.head {
    color: black;
    background-color: rgb(252, 252, 245);
}

.head .title{
    text-align: center;
    font-size: 150%;
    text-shadow: 1px 1px 2px black;
    margin: 0;
    padding: 0;
}
.head .subtitle{
    font-size: 120%;
    text-align: center;
    margin: 0;
    padding: 0;
    color: gray;
}
body .body{
    padding-top:70px;
}
body .body .Wrapper .Entry{ 
    background-color: rgb(252, 252, 245);
    margin:0px 600px 0px 600px;
    border: 1px solid rgb(206, 206, 206);
}
.body .Wrapper .Entry .login_Wrapper .login_head{
    font-size: 150%;
    padding: 30px 0px 30px 60px;
    border-bottom: solid 1px rgb(206, 206, 206);
}
.body .Wrapper .Entry .login_Wrapper .login_body ul{
    padding: 40px 90px 40px 90px;
}
.body .Wrapper .Entry .login_Wrapper .login_body { text-align: center;}
.body .Wrapper .Entry .login_Wrapper .login_body ul input{
    font-size: 150%;
}
.body .Wrapper .Entry .login_Wrapper .login_body .buttons { border-bottom: rgb(206, 206, 206) 1px solid;}
.body .Wrapper .Entry .login_Wrapper .login_body .buttons button{
    font-size: 120%;
}

