
body, div, h1, h2, p{ margin:0; padding:0;}
a:link { color: black; }
a:visited { color: black;}
header { padding-top:80px; }
.head #menu li { list-style: none; text-align: center;}
ol { margin: 0; padding:0; }
#selected{ color: salmon;}
.head {
    color: black;
    background-color: rgb(252, 252, 245);
}

.Cursor{
    font-size: 150%;
}

.head .title{
    text-align: center;
    font-size: 150%;
    text-shadow: 1px 1px 2px black;
    margin: 0;
    padding: 0;
}
.head .subtitle{
    font-size: 120%;
    text-align: center;
    margin: 0;
    padding: 0;
    color: gray;
}
#menu .sub_nav{ padding: 14px; margin:0; }
#menu .sub_nav > li{
    display: inline-block;
    padding-left: 20px;
}

#menu .sub_nav_depth_1 li{
    text-align: center;
}
.body #cols div.Wrapper{
    position: relative;
}
.body #cols .Wrapper .Entry{
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    border-right:1px solid rgb(206,206,206);
    background-color: rgb(252, 252, 245);
    border-left:1px solid rgb(206,206,206);
    position: relative;
    border-bottom: 1px solid rgb(195, 195, 195);
}
.body #cols .Wrapper .Entry .Paragraph{
    padding: 20px 10px 20px 10px;
}
.body #cols .Wrapper .Entry .Paragraph #date{
    color: gray;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding-bottom: 20px;
    text-align: right;
}
.body #cols .Wrapper .Entry .Paragraph article p{
    padding-top: 20px;
}

#breadCrumb {
    color: gray;
    background-color: rgb(236, 236, 236);
    padding: 10px 0px 10px 10px;
    border-bottom : 1px solid rgb(195, 195, 195);
}

.body #cols .Wrapper #Topic_List h2{
    padding: 13px 0px 7px 10px;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.body #cols .Wrapper #Topic_List li{
    padding: 4px 0px 4px 13px;
    border-bottom: 1px solid rgb(236,236,236);
}

.body #cols .Wrapper aside{
    display: block;
    float: left;
    width: 250px;
    border-bottom: 1px solid rgb(145, 145, 145);
    background-color: rgb(252, 252, 245);
}
