body, div, h1, h2, p, ul{ margin:0; padding:0;}
a:link { color: black; }
a:visited { color: black;}
header { padding-top:80px; }
li {list-style: none;}
.head {
    color: black;
    background-color: rgb(252, 252, 245);
}

.head .title{
    text-align: center;
    font-size: 150%;
    text-shadow: 1px 1px 2px black;
    margin: 0;
    padding: 0;
}
.head {
    font-size: 120%;
    text-align: center;
    margin: 0;
    padding: 0;
    color: gray;
}
body .body{
    padding-top:70px;
}
body .body .Wrapper .Entry{ 
    width: 400px;
    background-color: rgb(252, 252, 245);
    margin:0 auto;
    border: 1px solid rgb(206, 206, 206);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.body .Wrapper .Entry .login_Wrapper .login_head{
    font-size: 150%;
    padding: 30px 30px 30px 30px;
    border-bottom: solid 1px rgb(206, 206, 206);
    text-align : right;
    text-align : center;
}
.body .Wrapper .Entry .login_Wrapper .login_body ul{
    padding: 40px 40px 40px 40px;
}
.body .Wrapper .Entry .login_Wrapper .login_body { text-align: center;}
.body .Wrapper .Entry .login_Wrapper .login_body ul input{
    font-size: 150%;
}
.body .Wrapper .Entry .login_Wrapper .login_body .buttons { border-bottom: rgb(206, 206, 206) 1px solid;}
.body .Wrapper .Entry .login_Wrapper .login_body .buttons button{
    font-size: 120%;
}

menu {
    
    padding : 0px 0px 0px 0px;
}
menu .sign_up{

    padding-bottom: 10px;
    margin-top: -10px;
    
    border-bottom: solid 1px rgb(206, 206, 206);
}

menu .email_auth{
    
    padding-top : 10px;
    margin-bottom : -10px;
}

