*{
	margin: 0px;
    font-family:'Dosis', sans-serif;
}

h1{
	text-align: center;
	background-color: rgb(252, 252, 245);
}

h2{
	text-align: center;
	background-color: rgb(252, 252, 245);
    font-size: 30px;
    color: gray;
}

a{
	color: black;
	text-decoration: none;
}


ul {
	list-style: none;
	padding-left: 0px;
}



.Header{
  font-size: 60px;
  text-shadow: 1px 1px 2px black;
  font-family : 'Dosis', sans-serif;
}

.mainMenu{
  background-color: rgb(252, 252, 245);
  height: 50px;
}

.mainMenu > li{
	display: inline-block;
	font-size: 25px;
	height: 50px;
	padding: 15px;
  text-align: center;
}

.mainMenu > li:hover .subMenu{
	display: block;
}

.subMenu{
	display: none;
	position: absolute;
	z-index: 1;
	background-color: rgb(145, 145, 145);
	width: 120px;
	font-size: 70%;
}

.breadCrumb {
    color: gray;
    background-color: rgb(236, 236, 236);
    padding: 10px 0px 10px 10px;
    border-bottom : 1px solid rgb(195, 195, 195);
}
